.wrapper{
    margin-left: 400px;
}

.title{
    
    margin-bottom: 15px;
}


.Name {
    font-size: 12px;
    margin-bottom: 10px;
}

.btn {
    display: block;
}

.input {
    margin-bottom: 15px;
}

.form {
    width: 300px;
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 5px
}

.list {
    padding-left: 15px;
}

.formGroup {
    display: flex;
    flex-direction: column;
}